<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./Test/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true">

    <testsuites>
        <testsuite name="JsonLD Test Suite">
            <directory suffix="Test.php">./Test/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Test</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <!-- Uncomment this section if you want to generate an EARL implementation report
    <extensions>
        <bootstrap class="\ML\JsonLD\Test\EarlReportGenerator">
            <parameter name="target" value="earl-report.jsonld"/>
            <parameter name="project-name" value="JsonLD"/>
            <parameter name="project-url" value="https://github.com/lanthaler/JsonLD"/>
            <parameter name="project-homepage" value="https://github.com/lanthaler/JsonLD"/>
            <parameter name="license-url" value="https://raw.github.com/lanthaler/JsonLD/master/LICENSE"/>
            <parameter name="project-description" value="JSON-LD processor for PHP"/>
            <parameter name="programming-language" value="PHP"/>
            <parameter name="developer-name" value="Markus Lanthaler"/>
            <parameter name="developer-url" value="http://me.markus-lanthaler.com"/>
            <parameter name="developer-homepage" value="http://www.markus-lanthaler.com/"/>
        </bootstrap>
    </extensions>
    -->

    <logging>
        <junit outputFile="junit.xml"/>
    </logging>

</phpunit>
