<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="Test/bootstrap.php"
    cacheDirectory=".phpunit.cache"
>
  <coverage>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="JsonLD Test Suite">
      <directory suffix="Test.php">Test/</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>Test</directory>
      <directory>vendor</directory>
    </exclude>
  </source>
</phpunit>
