name: Continuous integration

on:
  push:
    branches:
    - "**"
  pull_request:
    branches:
    - master
    - php8

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      extensions: intl, mbstring, xdebug

    strategy:
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          extensions: "${{ env.extensions }}"
          ini-values: "memory_limit=-1, error_reporting=E_ALL, display_errors=On"
          coverage: xdebug
          tools: composer
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download dependencies
        run: composer update --no-interaction --no-progress
      - name: Run tests
        run: vendor/bin/phpunit
